{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} Background Removal {% endblock %}
    </title>
    {% tailwind_css %}
</head>
<body>

    <!-- Fixed Navbar -->
    <nav class="fixed top-0 left-0 w-full bg-gradient-to-r from-blue-900 to-blue-700 p-4 shadow-md z-50">
        <div class="flex justify-center space-x-8 text-white text-lg font-medium">
            <a class="transition duration-300 hover:text-green-400 hover:scale-110" href="{% url 'home' %}">Home</a>
            <a class="transition duration-300 hover:text-green-400 hover:scale-110" href="#">About</a>
            <a class="transition duration-300 hover:text-green-400 hover:scale-110" href="#">Contact</a>
        </div>
    </nav>

    <!-- Content -->
    <main class="container mx-auto px-6 py-24 pb-24">
        <div class="h-auto bg-gray-200 rounded-xl mt-6 p-6 text-center">
            {% block content %}{% endblock %}
        </div>
    </main>


    <!-- Fixed Footer -->
    <footer class="fixed bottom-0 left-0 w-full bg-gradient-to-r from-blue-900 to-blue-700 p-4 text-center text-white shadow-inner z-50">
        <p class="text-sm">&copy; 2025 Django Project | Built with ❤️</p>
    </footer>
    
</body>
</html>
